.about-page {
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.about-module {
    display: flex;
    height: 50%;
    justify-content: space-around;
}

.about-text {
    display: flex;

    
}

.about-page > .about-module > .about-text > .head1 {
    display: flex;

}

.about-page > .about-module > .about-text > .head2 {
    display: flex;
    
}

#text {
    display: flex;

    
}

